﻿.font-cn-bold {
    font-family: 'BioRhyme', serif;
    color: #fff;
}

.font-whitney {
    font-family: 'Noto Sans HK', sans-serif;
    color: #fff;
}

.bg-dark-custom {
    background-color: #000;
}

.bg-gray-custom {
    background-color: #4c4c4c;
}

.bg-blue-custom {
    background-color: #009ade;
}

.bg-magenta-custom {
    background-color: #ec0080;
}

.bg-yellow-custom {
    background-color: #ffea00;
}

.vertical-text {
    transform: rotate(270deg);
    margin-top: 55px;
}

.text-bold {
    font-weight: bold;
}

.mg-top {
    margin-top: -12px;
}

.mg-l {
    margin-left: 10px !important;
}

.pd-l {
    padding-left: -10px;
}

.pd-r {
    padding-right: -10px;
}

.border-top-5 {
    border-top: 5px solid #ffea00;
}

.border-bottom-5 {
    border-bottom: 5px solid #ffea00;
}

.pd-50 {
    padding: 35px;
    cursor: pointer;
}

.col-sm-2:hover {
    background-color: #4c4c4c;
    color: cornflowerblue;
}

.link-rodape {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.link-rodape:hover {
    text-decoration: none;
    color: #4c4c4c;
}

